<h1 class="font-black text-3xl mb-3 text-center">Thank You for subscribing,
<%= @customer.name%>!</h1>
<p style="text-align:center"><strong>Your Subscription is now Active</strong>
  <br>
  <br>
  <%= link_to button_tag('continue', class:"btn btn-primary btn-sm ",style:"background-color: #C84630"),root_path %>
</p>
