 <% @current_buyer.each do |f| %>
  <tr>
    <th scope="row"></th>
    <td><%=f.name %></td>
    <% if f.subscriptions.present?%>
      <%f.subscriptions.each do |subscribed_user|%>
        <td><ul class="list-group list-group-flush"><li><%= Plan.find(subscribed_user.plan_id).name %></li></ul><td>
        <th scope="row"></th>
      <% end %>
    <%else%>
      <td>No Subscriptions</td>
    <% end %>
  </tr>
<%end %>
