<div class=container style="background-color:#C4CAD0;text-align:center;">
  <h1>INVOICE DATA</h1>
  <p>You have not subscribed to any plan yet<p>
  <%= link_to button_tag('Back', class:"btn btn-primary btn-sm ",style:"background-color: #C84630"),users_path %>
</div>
<%# <%user.subscriptions%>
<%# <%@subs.each do |sub| %>
  <%# <%= sub.status%>
<%# <%end%>

