<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%=@name%>!Your Subscription Bill </p>

    <p>
    <br>
    Message:
    Your Payment details for one month subscription are present on the invoice on the website <br>
    please make sure to pay all your recurring dues.<br>THANK YOU!!!

    <br>
    ----------
    </p>

  </body>
</html>
