<h1>payment attempt failed</h1>

<%# <p>Hi <%= @user.first_mame%>,</p> %>
<p>It looks like your latest automated payment attempt failed</p>
<p>In orer to not see a lapse in your subsciption we suggest updating your billing information as soon as possible</p>

<p><%=link_to "Update billing information", edit_user_registration_url,target: :_blank %></p>
