<br>
<% if @plan.features.present? %>
  <table class="table table-striped">
    <thead>
      <tr><div style="text-align:center;"><strong>Present Features</strong></div><tr><br>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Code</th>
          <th scope="col">Unit Price</th>
          <th scope="col">Max Unit Limit</th>
          <th scope="col">Usage value</th>
          <th scope="col">Over Use</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
      <%= render partial: 'newfeature',collection: @plan.features, as: :feature%>
    </tbody>
  </table>
<%else%>
<h3 class="container" style="text-align:center">No Features Created Yet</h3>
<%end%>


