<%= render 'devise/shared/navbar'%>
<div class="container">
<h1>Editing Plan</h1>

<%= render 'form', plan: @plan %>
<br>
<%= link_to button_tag('Show plan', class:"btn btn-primary btn-sm ",style:"background-color: #C84630"),@plan %>
<%= link_to button_tag('Back', class:"btn btn-primary btn-sm ",style:"background-color: #C84630"),plans_path %>

<div>
