<div class="container" style="text-align:center"><h1>Plans</h1></div>
  <% if Plan.exists?%>
    <table class="table",style="Background-color:#B88D92">

      <thead class="thead-dark">
        <tr>
          <th scope="col"> Name</th>
          <th scope="col">Monthly fee</th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>

      <tbody>
         <%= render partial: 'newfile',collection: @plans, as: :plan%>
      </tbody>

    </table>
  <%else%>
    <h3 class="container" style="text-align:center">No Plan Created Yet</h3>
  <%end%>
    <br>
  <% if policy(Plan).create?%>
    <%= link_to button_tag('Create New Plan', class:"btn btn-primary btn-sm ",style:"background-color:#C84630"),new_plan_path %>
    <br>
  <% end %>
</div>

