<%= render 'devise/shared/navbar'%>
<div class="container" >
<h1>New Plan</h1>

<%= render 'form', plan: @plan %>
<br>
<%= link_to button_tag('Back', class: 'btn btn-dark float-left'),plans_path %>
</div>
